<div class=" bg-body pt-4">

  <!-- courses-->
  <div class="container-fluid">

    <!-- Header -->
    <div class="row font-weight-bold d-flex justify-content-center">
      <h2 class="col-12 col-md-10 text-center pb-0 pt-3 mb-0 bg-info-subtle rounded-top">Kursübersicht:</h2>
    </div>
    <div class="row font-weight-bold d-flex justify-content-center">
      <div class="col-2 col-md-2 bg-secondary-subtle d-inline d-md-flex align-items-center  ps-4 rounded-start">Kurs
      </div>
      <div class="col-2 col-md-2 bg-dark-subtle d-inline d-md-flex align-items-center">Veranstaltungsort</div>
      <div class="col-3 col-md-2 bg-secondary-subtle d-inline d-md-flex align-items-center">Adresse des
        Veranstaltungsortes
      </div>
      <div class="col-1 col-md-1 bg-dark-subtle d-inline d-md-flex align-items-center">Öffentlich erreichbar?</div>
      <div class="col-1 col-md-1 bg-secondary-subtle d-inline d-md-flex align-items-center">Kursleiter</div>
      <div class="col-3 col-md-2 bg-dark-subtle d-inline d-md-flex align-items-center rounded-end">Alle Termine</div>
    </div>

    <!-- Data -->
    <div *ngFor="let course of storeService.courses" class="row py-2 mb-4 d-flex justify-content-center">
      <div
        class="col-2 col-md-2 bg-dark-subtle border-bottom d-inline d-md-flex align-items-center ps-4">{{ course.name }}</div>
      <div
        class="col-2 col-md-2 border-bottom d-inline d-md-flex align-items-center">{{ course.eventLocation.name }}</div>
      <div
        class="col-3 col-md-2 border-bottom d-inline d-md-flex align-items-center">{{ course.eventLocation.address }}</div>
      <div class="col-1 col-md-1 border-bottom d-inline d-md-flex align-items-center">
        {{ course.eventLocation.publicTransport ? 'Ja' : 'Nein' }}
      </div>
      <div class="col-1 col-md-1 border-bottom d-inline d-md-flex align-items-center">{{ course.instructor }}</div>
      <div class="col-3 col-md-2 border-bottom d-inline d-md-flex align-items-center">
        <ul class="list mb-0">
          <li *ngFor="let date of course.dates">
            <span>{{ date.begin | date:"dd.MM.yyyy hh:mm" }}</span> bis
            <span>{{ date.end | date:"hh:mm" }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <!-- registrations -->
  <div class="container-fluid bg-body-secondary">
    <!-- Header -->
    <div class="row font-weight-bold d-flex justify-content-center">
      <h2 class="col-12 col-md-10 text-center pb-0 pt-3 mb-0 bg-info-subtle rounded-top">Anmeldungen:</h2>
    </div>
    <div class="row font-weight-bold d-flex justify-content-center">
      <div class="col-3 col-md-2 bg-secondary-subtle d-flex align-items-center rounded-start ps-4">Name</div>
      <div class="col-3 col-md-2 bg-dark-subtle d-flex align-items-center ">Geburtsdatum</div>
      <div class="col-3 col-md-2 bg-secondary-subtle d-flex align-items-center rounded-end">Kurs</div>
      <div class="col-3 col-md-2 bg-dark-subtle d-flex align-items-center rounded-end">Newsletter</div>
      <div class="col-3 col-md-2 bg-secondary-subtle d-flex align-items-center" (click)="sortByDate()"
           style="cursor: pointer;">Anmeldedatum
        <span *ngIf="sortDirection === 'asc'">&#9650;</span><span *ngIf="sortDirection === 'desc'">&#9660;</span>
      </div>
      <div class="col-3 col-md-2 bg-dark-subtle d-flex align-items-center rounded-end">Aktion</div>
    </div>

    <!-- Data -->
    <div *ngFor="let registration of storeService.registrations"
         class="row-container  row py-2 d-flex justify-content-center" [class.loading]="isLoading" [ngClass]="loadingId == registration.id ? 'loadingRow' : ''">
      <mat-spinner style="position: absolute; top: 30%;" *ngIf="loadingId == registration.id" diameter="40"></mat-spinner>
      <div
        class="col-3 col-md-2 bg-dark-subtle border-bottom d-flex align-items-center ps-4">{{ registration.name }}</div>
      <div
        class="col-3 col-md-2 border-bottom d-flex align-items-center">{{ registration.birthdate | date:"dd.MM.yyyy"
        }}</div>
      <div class="col-3 col-md-2 border-bottom d-flex align-items-center">{{ registration.course.name }}</div>
      <div
        class="col-3 col-md-2 border-bottom d-flex align-items-center">{{ registration.newsletter ? "Ja" : "Nein" }}</div>
      <div
        class="col-2 col-md-2 border-bottom d-flex align-items-center">{{ registration.registrationDate | date:"dd.MM.yyyy HH:mm" }}</div>
      <div class="row-container col-3 col-md-2 border-bottom d-flex align-items-center">
        <button mat-raised-button color="warn" (click)="deleteRegistration(registration)" [disabled]="isLoading">
          <span *ngIf="loadingId != registration.id">Abmelden</span>
          <mat-spinner *ngIf="loadingId == registration.id" diameter="20"></mat-spinner>
        </button>
      </div>
    </div>

    <!-- pagination -->
    <div class="container my-4">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10">
          <div class="d-flex justify-content-center flex-wrap">
            <button *ngFor="let page of returnAllPages()" type="button" (click)="selectPage(page)" [ngClass]="{
            'btn': true,
            'btn-primary': page !== storeService.currentPage,
            'btn-secondary active': page === storeService.currentPage
          }" class="mx-1 my-1">
              {{ page }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

